.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 10rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.desktop-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 7rem;
  font-size: 13px;
}

mat-toolbar {
  height: 75px;
  background-color: #D7D8DA !important;
  color: #0C0C09 !important;
  filter: drop-shadow(0 0 8px gray);

}

.desktop-menu a {
  color: #0C0C09 !important;
}

.mobile-menu-button {
  color: var(--text-on-primary) !important;
  display: none;
}

.mat-raised-button {
  background-color: var(--accent-color) !important;
  color: var(--text-on-accent) !important;
}

.accountButtons{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }
}

