<header class="hero" xmlns="http://www.w3.org/1999/html">
  <section id="hero-section" class="hero-body">
    <div class="hero-body">
      <img src="D:\Github\LandingPage\public\preview.jpg" width="1000" alt="Estudio musical">
      <div class="flex-col p-12 container lg:grid grid-cols-2">
        <div class="text-center md:text-left box-border">
          <h1 i18n>Gestionar tu próximo lugar de ensayo nunca había sido tan fácil</h1>
          <p i18n>"Reservas, control de uso y alertas de sonido en una sola plataforma"</p>
          <div class="hero-buttons">
            <button mat-raised-button color="accent" i18n>Quiero alquilar</button>
            <button mat-raised-button i18n>Quiero reservar</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
