.hero {
  color: white;
  text-align: center;
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.hero-body{

}

.hero h1 {
  font-size: 3rem;
  max-width: 800px;
  margin-bottom: 1.5rem;
  line-height: 3.5rem;

}

.hero p {
  font-size: 1.5rem;
  max-width: 700px;
  margin-bottom: 3rem;
  line-height: 2rem;
  margin-left:45px;
}

.hero-buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-left: 11rem;
  align-items: center;

}

.hero-buttons button {
  min-width: 200px;
}

.hero-buttons button:first-child {
  background-color: var(--primary-color) !important;
  color: var(--text-on-primary) !important;
}

.hero-buttons button:last-child {
  background-color: var(--accent-color) !important;
  color: var(--text-on-accent) !important;
  border: 1px solid var(--primary-color);
}
