<header class="hero">
  <div class="hero-content">
    <img class="hero-image fade-in" src="public/studio.jpg" alt="Estudio musical">
    <div class="slide-up">
      <h1 i18n>Gestionar tu próximo lugar de ensayo nunca había sido tan fácil</h1>
      <p i18n>"Reservas, control de uso y alertas de sonido en una sola plataforma"</p>
      <div class="hero-buttons">
        <a href="https://yellow-water-0b7d5e91e.6.azurestaticapps.net/owner" target="_blank" mat-raised-button color="accent" i18n>Quiero alquilar</a>
        <a href="https://yellow-water-0b7d5e91e.6.azurestaticapps.net/search" target="_blank" mat-raised-button i18n>Quiero reservar</a>
      </div>
    </div>
  </div>
</header>
