section{
  display: flex;
}

.how-it-works {
  background-color: white;
  text-align: left;
  min-height: 80vh;
}

.how-it-works h2 {
  margin-top: 3rem;
  font-size: 3rem;
}

.how-it-works p {
  max-width: 800px;
  margin: 3rem auto 2rem;
}

.how-it-works ul {
  padding: 0;
  max-width: 800px;
}

.how-it-works li {
  color: black;
  padding: 1.5rem;
  min-width: 200px;

}
