<section>
  <div class="how-it-works">
    <h2 i18n>¿Cómo funciona?</h2>
    <p i18n>SoundNest digitaliza la gestión de salas de ensayo y producción.
      Desde reservas hasta alertas por exceso de sonido, todo en un solo lugar.
      Y lo mejor: solo cobramos una comisión cuando tú alquilas.</p>
    <ul>
      <li i18n>Sin costos fijos</li>
      <li i18n>Mayor control sobre el uso</li>
      <li i18n>Menos incidentes y molestias</li>
    </ul>
  </div>
  <img src="/SoundNestLogo.png" alt="SoundNest Logo" class="how-it-works-image">
</section>
